<!DOCTYPE html>


<!DOCTYPE html>
<head>
    ID_cliente = {{cliente['id_cliente']}}
</head>

<body>
    <form
        id="clientVehicleForm"
        action="{{ url_for('vehicle_registration', id_cliente = cliente['id_cliente']) }}"
        method="POST"
        class="input-group mb3"
      >
        <fieldset class="client-field">
          <legend>Cadastro de Veículo</legend>

          <!-- Pre-filled hidden input field for client_id -->

          <input
            type="text"
            id="placa"
            name="placa"
            placeholder="Número da placa"
          />
          <input
            type="text"
            id="chassi"
            name="chassi"
            placeholder="Chassi"
            required
          />
          <input
            type="text"
            id="marca"
            name="marca"
            placeholder="Marca"
            required
          />
          <input
            type="texto"
            id="modelo"
            name="modelo"
            placeholder="Modelo"
            required
          />
          <input type="texto" id="cor" name="cor" placeholder="Cor" required />
          <select id="ano_fabricacao" name="ano_fabricacao">
            <option value="1970">Selecionar o Ano Fabricacao</option>
            <option value="1971">1971</option>
            <option value="1972">1972</option>
            <!-- Add more years as needed -->
            <option value="2024">2024</option>
          </select>
          <select id="ano_modelo" name="ano_modelo">
            <option value="1970">Selecionar o Ano Modelo</option>
            <option value="1971">1971</option>
            <option value="1972">1972</option>
            <!-- Add more years as needed -->
            <option value="2024">2024</option>
          </select>
        </fieldset>

        <div>
          <button type="submit" id="openModalButton3" class="btn btn-primary">
            Cadastrar Veículo
          </button>
        </div>
      </form>
</body>



!!!!DESCONSIDERAR ESSE CÓDIGO APÓS CORREÇÃO!!!!!

